{% extends 'base.html' %}

{% block title %}Compose your Message{% endblock %}

{% block register %}
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4"></div>
			<div class="col-lg-4 col-md-4">
			<h2>Compose Message</h2>
		    <h3>{{ error_message }}</h3>
			<form  action="{% url 'fileupload:create_message' %}" method="POST">{% csrf_token %}
				<div class="form-group">
				{{form.as_p}}
				</div>	
				Recipient: <input name="recipient" type = "text">
				<br><br>
				<div class="form-group">
						Send to a group:
				<select class="form-control" name="value">
					<option selected="selected" disabled></option>
		    		{% for group in groups %}
						<option value={{group.name}}>{{group.name}}</option>
					{% endfor %}	
				 </select>
				 <br>
				 <br>
				<input class="btn btn-primary" type='submit' value="Submit">
			</form>
			</div>
			<div class="col-lg-4 col-md-4"></div>
		</div>
	</div>
{% endblock %}